.search-results {
	list-style-type: none;
	padding-left: 0;

	li {
		border-bottom: 1px solid #eee;
		margin-bottom: 1em;
		padding-bottom: 1em;

		a {
			font-size: 1.25em;
			font-weight: bold;
			text-decoration: none;
		}
	}
}

.search-ellipsis {
	color: #bbb;
	margin-left: 0.25em;
	margin-right: 0.25em;
}

.search-line-break {
	color: #eee;
	margin-left: 0.35em;
	margin-right: 0.35em;
}
